@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/SolaimanLipi.eot');
    src: url('../fonts/SolaimanLipi.woff') format('woff'),
    url('../fonts/SolaimanLipi.ttf') format('truetype'),
    url('../fonts/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
    url('../fonts/SolaimanLipi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body iframe {
    display: none !important;
}

body {
    font-family: SolaimanLipi, sans-serif
}

.fs-20 {
    font-size: 20px
}

.fs-18 {
    font-size: 18px
}

.fs-16 {
    font-size: 16px
}

.mb--1 {
    margin-bottom: -1px;
}

a {
    color: #f1582b;
}

img {
    max-width: 100%
}

a:hover {
    color: #f13d08;
    text-decoration: none;
}

.btn.focus.outline-0, .btn:focus, .btn.outline-0:focus {
    box-shadow: none;
}

.text-shadow {
    text-shadow: -1px 1px 1px #000;
}

.font-weight-semibold {
    text-shadow: 0 0 .5px #000, 0 0 .5px #000;
}

.pScroll {
    position: relative;
}

.nav a {
    color: #4e555b;
    transition: all .3s;
}

.nav a.active, .nav a:hover {
    color: #fff;
    background: #f1582b;
}


.sidebar-left,
.sidebar-right {
    transition: all .3s;
}

.sidebar-left {
    margin-left: -200px;
    min-width: 200px;
    width: 200px;
}

.sidebar-right {
    margin-right: -300px;
    min-width: 300px;
    width: 300px;
}

.sidebar-left.show {
    margin-left: 0;
}

.sidebar-right.show {
    margin-right: 0;
}

.app-border-bottom {
    position: relative;
}

.app-border-bottom:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background: #f1582b;
    bottom: 0;
    left: 0;
}

.app-border-bottom.border-center:after {
    right: 0;
    margin: auto;
}

.btn,
.custom-file-label::after,
.custom-file-label,
.input-group-text,
.custom-select,
.form-control {
    border-radius: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.editQuill {
    min-height: 100px;
}

.apotti_krito_form {
    display: none;
}

.new_entry {
    position: relative;
    z-index: 999;
}

.select2-container {
    height: 100%;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}

.select2-container .select2-selection--single {
    height: 100% !important;
    display: flex !important;
    align-items: center;
    border-radius: 0 !important;
}

.select2-container .select2-selection--single {
    border: 1px solid #dee2e6 !important;
    border-left: none !important;
}

.apotti_search {
    position: relative;
    z-index: 999;
    margin: auto;
}

.fa-15x {
    font-size: 1.5em;
}

.ql-editor p {
    margin-bottom: 1rem;
}

.attached-item {
    position: relative;
    width: 200px;
    height: 200px;
}

.attached-item a {
    height: 160px;
    overflow: hidden;
}

.attached-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.attached-item .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    z-index: 99;
    padding: 2px 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.attached-item:hover .close-btn {
    visibility: visible;
    opacity: .9;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.attach-loader {
    background: rgba(0, 0, 0, .5);
    display: none;
}

.loading .attach-loader {
    display: block;
}

.sorting a > i.fas {
}

.apotti_search .form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 .5px inset;
}

.h-100 {
    max-height: 100%;
}
